@use "main" as *;
.wrapper {
  max-width: 1460px;
  margin-inline: auto;
  padding: 10rem 4rem;

  @media (max-width: 768px) {
    /* Styles for smaller screens */
    max-width: 100%;
    padding: 0rem 4rem;
  }
}

.wrapper h5 {
  font-size: 5rem;
  color: $main-color-text;
  font-weight: 800;
  padding: 10rem 0rem;
  line-height: 100%;
  direction: rtl;
  // text-align: center;
}

.h5-container {
  text-align: center;
}

ng-icon {
  font-size: 4rem;
  background-color: $color-hover-contrast;
  height: 8rem;
  width: 8rem;
  border: 3px solid #fff;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.wrapper {
  max-width: 1460px;
  margin-inline: auto;
  padding: 10rem 0rem;

  @media (max-width: 768px) {
    /* Styles for smaller screens */
    max-width: 100%;
    padding: 0 20px;
  }
}

.item-name {
  font-weight: 800 !important;
  font-size: 2.4rem;
  padding: 2rem 0rem;
  color: $main-color-text;
}
.content-box {
  margin: 0 auto;
  width: 100%;
  padding: 2rem 2rem;
  background-color: $main-block-color;
  border-radius: 2rem;
  cursor: pointer;

  &:hover {
    background-color: $color-hover-contrast;
    color: #fff;

    ng-icon {
      background-color: $color-hover-contrast;
      border: 3px solid #fff;
    }
  }
}

.grid-container {
  // background-color: #fff;
  // max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 4rem;

  @media (max-width: 1320px) {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 908px) {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
}
p {
  margin: 0;
  padding: 0.2rem 0rem;
}

.image-container {
  min-height: 400px;
  max-height: 400px;
  width: 400px;
  background-color: #111111;
}
ul {
  list-style: none;
}

img {
  // object-fit: cover;
  // aspect-ratio: 1;
  image-rendering: optimizeQuality;
  border-radius: 2rem;
}

.items {
  color: $second-color-text;
}

.data-content {
  list-style: none;
  color: #fff;
  // margin: 1rem 0rem;
  min-height: 150px;
  max-height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-about {
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
}
li div {
  margin: 0.3rem 0rem;
  font-weight: 100;
}

.block-name span {
  font-weight: 800;
  font-size: 3rem;
}

.second-icons {
  font-size: 3rem !important;
  width: 5rem;
  height: 5rem;
  margin: 3rem 0rem;
}

.data-content-second {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.data-content-second p {
  text-align: center;
  padding: 1rem 0rem;
  font-size: 2rem;
  line-height: 100%;
  font-weight: 100;
}
