@use "main" as *;

.wrapper {
  max-width: 1400px;
  margin-inline: auto;
  padding: 10rem 5rem;
}

img {
  padding: 3rem 0rem;
}
.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  @media (max-width: 768px) {
    flex-direction: column;
    display: inherit;
  }
}

button {
  padding: 1rem 5rem;
  background-color: $color-buttons-contrast;
  color: $main-color-text;
  font-weight: 800;
}
