@use "main" as *;
.wrapper {
  max-width: 1460px;
  margin-inline: auto;
}
.welcome-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20rem 0 20rem 2rem;
}
.welcome-content p {
  color: $color-buttons-contrast;
  font-weight: 800;
  font-size: 3rem;
}
.welcome-content h1 {
  font-size: 8rem;
  line-height: 115%;
  letter-spacing: 0.5rem;
  font-weight: 600;
  color: $main-color-text;
}
.welcome-content-text {
  text-align: justify;
  line-height: 125%;
}
h3 {
  font-weight: 200;
  font-size: 3rem;
  line-height: 100%;
  color: $second-color-text;
}
img {
  border-radius: 4rem;
  padding: 0rem 2rem;
  @media (max-width: 900px) {
    height: 300px;
    width: 400px;
  }
}
.welcome-content-button-container {
  padding: 4rem 0 0 0;
}
button {
  width: 14rem;
  height: 4.5rem;
  outline: none;
  border-radius: 2rem;
  font-size: 1.6rem;
  border: none;
  color: #fff;
  background-color: $color-buttons-contrast;
  font-family: "Roboto", sans-serif !important;
  margin: 0.5rem 0;
  font-weight: 500;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
#products-button {
  margin: 0 2rem;
  background-color: inherit;
  color: $main-color-text;
  border: 1px solid $main-color-text;
}
h4 {
  font-size: 3rem;
  line-height: 100%;
  letter-spacing: 0.5rem;
}
@media screen and (max-width: 900px) {
  .welcome-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5rem 0 5rem 0;
  }
  .welcome-content {
    padding: 0 0;
  }
  img {
    margin: 5rem 0;
  }
  .welcome-content h1 {
    font-size: 5rem;
    margin: 0 auto;
    text-align: inherit;
    margin: 1rem 0;
  }
  .under-main-text {
    font-size: 2.5rem;
  }
  .welcome-content p {
    font-size: 4rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  button {
    width: 10rem;
    font-size: 1.3rem;
  }
  .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
