.spinnercontent{
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
     background-color: #000000b0;
     z-index: 9999;
     display: flex;
     text-align: center;
}
.spinnerclass{
    position: fixed;
left: 50%;
    width: 100%;
    right: 0;
    top: 50%;
    bottom: 0;
    
}