@use "main" as *;
.wrapper {
  max-width: 1160px;
  margin-inline: auto;
  padding: 0 2rem 20rem 2rem;
}
.electronic-offer-text {
  font-size: 5rem;
  padding: 4rem 0;
  font-weight: 800;
  line-height: 100%;
  text-align: center;
}
.blocks-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(300px, auto);
}
.block {
  background-color: $main-block-color;
  display: flex;
  flex-direction: column;
  height: 600px;
  padding: 0rem 4rem;
  border-radius: 3rem;
}
.title-block {
  min-height: 200px;
  max-height: 200px;

  display: flex;
  justify-content: center;

  flex-direction: column;
}
.description-block {
  min-height: 200px;
  max-height: 200px;
}
.end-block {
  min-height: 200px;
  max-height: 200px;
  display: flex;
  // justify-content: center;
  align-items: center;
}
.block h5 {
  font-weight: 800;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 3rem 0 0 0;
  color: $main-color-text;
}
.block p {
  color: $main-color-text;
  font-size: 1.8rem;
  padding: 1rem 0;
  font-weight: 100;
  line-height: 120%;
  text-align: justify;
}
.block a {
  font-size: 1.8rem;
  color: $main-color-text;
  padding: 1rem 0;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.3rem;
  cursor: pointer;
}
.a-cont {
  padding: 1rem 1rem;
  border-radius: 1rem;
  background-color: inherit;
  border: 5px solid $color-hover-contrast;
  cursor: pointer;
}
ng-icon {
  font-size: 5rem;
  color: $color-hover-contrast;
}

@media screen and (max-width: 900px) {
  .blocks-wrapper {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
  .block {
    min-width: 300px;
    max-width: 400px;
    margin: 0 auto;
  }
}
