@use "main" as *;
.shopping-cart-container {
  background-color: $main-block-color;
  max-width: 500px;
  position: fixed; 
  right: 0; 
  height: 100%; 
  overflow-y: auto;
  border-radius: 2rem;
  padding: 1rem 1rem;
}
h2 {
  text-align: center;
  font-size: 3rem;
  // padding: 2rem 0;
}
.title-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5rem 0rem;
}
h2{
  margin: 0;
  padding: 0;
}
.title-container h2{
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-container span{
  font-size: 3rem;
  height: 5rem;
  width: 5rem;
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-buttons-contrast;
  border-radius: 50%;  
  cursor: pointer;
}
ul {
  max-width: 500px;
}
li {
  max-height: 300px;
  min-height: 300px;
}
li p {
  margin-left: 1rem;
}
li button {
  margin-left: 1rem;
  color: #fff;
  background-color: red;
  padding: 1rem 1rem;
  font-weight: 800;
  cursor: pointer;
}
.name-container p {
  font-size: 2rem;
  font-weight: 800;
}
.name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img {
  border-radius: 50%;
  padding-right: 1rem;
  cursor: pointer;
}
