.wrapper {
  max-width: 1460px;
  margin-inline: auto;
  padding: 10rem 2rem;

  @media (max-width: 768px) {
    /* Styles for smaller screens */
    max-width: 100%;
    padding: 0 20px;
  }
}

.h5-container h5 {
  font-size: 6rem;
  color: #fff;
  font-weight: 800;
  padding: 3rem 0rem;
  line-height: 100%;
}

.block-container {
  background-color: #20242c;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
  border-bottom: 5px solid #e8317e;
  height: 60vh;
  // border-radius: 2rem;
}

iframe {
  border: none;
  width: 70vw;
  height: 52vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 3px solid #fff;
  border-radius: 2rem;
}
