@use "main" as *;

.wrapper {
  max-width: 1460px;
  margin-inline: auto;
  padding: 10rem 0rem;

  @media (max-width: 768px) {
    /* Styles for smaller screens */
    max-width: 100%;
    padding: 0 20px;
  }
}

.item-name {
  font-weight: 800 !important;
  font-size: 2.4rem;
  padding: 2rem 0rem;
  color: $main-color-text;
}
.content-box{
margin: 0 auto;
}

.grid-container {
  // background-color: #fff;
  // max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 4rem;
  
  
  
    @media(max-width: 1320px) {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
    }
  @media (max-width: 908px) {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);

  }
}
p {
  margin: 0;
  padding: 0.2rem 0rem;
}

.image-container {
  min-height: 400px;
  max-height: 400px;
  width: 400px;
  background-color: #111111;
}
ul {
  list-style: none;
}

img {
  // object-fit: cover;
  // aspect-ratio: 1;
  image-rendering: optimizeQuality;
  border-radius: 2rem;
}

.items {
  color: $second-color-text;
}

.data-content {
  list-style: none;
  color: #fff;
  font-size: 1.6rem;
  // margin: 1rem 0rem;
  min-height: 170px;
  max-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
}
li div {
  margin: 0.3rem 0rem;
  font-weight: 100;
}
button {
  // width: 10rem;
  // height: 3rem;
  cursor: pointer;
  background-color: inherit;
  background-color: $color-buttons-contrast;
  font-weight: 800;
  border-radius: 2rem;
  letter-spacing: 0.1rem;
  // border: 1px solid #fff;
  color: #fff;
  padding: 1rem 3rem;
  margin: 1rem 0rem;
}
