@use "main" as *;

.top {
  width: 100%;
  height: 5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  gap: 2rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  margin: 0;
}
ul li a {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
  font-weight: 100;
  letter-spacing: 0.1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0.7rem 1rem;
  font-weight: 300;
  text-shadow: 0 0 2px #fff;
  background-color: #20242c;
  border-radius: 2rem;
  cursor: pointer;
}
.logo {
  font-size: 2.6rem;
  margin: 2rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.series-info {
  width: 100%;
  height: 5rem;
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.series-info ul {
  cursor: pointer;
}
.shopping-cart {
  font-size: 2rem;
  cursor: pointer;
}
#menu {
  margin: 2rem;
  font-size: 1.6rem;
  display: none;
  color: #fff;
  font-family: "Font Awesome 6 Free" !important;
  cursor: pointer;
}
.series-list {
  background-color: #080808;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.series-list a {
  color: #fff;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 800;
  max-width: 1000px;
  margin-inline: auto;
}
.shop-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 1rem;
}
.shop-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 1rem;
  position: relative;
}

.shop-container ng-icon {
  font-size: 2rem;
  color: #fff;
}

.shop-container .cart-item-count {
  position: absolute;
  bottom: -10px;
  right: -10px;
  background-color: $color-buttons-contrast;
  color: white;
  border-radius: 50%;
  padding: 0.2em 0.5em;
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .top {
    justify-content: space-between;
  }
  ul {
    display: none;
  }
  #menu {
    display: flex;
  }
}
