@use "main" as *;

@use "scss-reset/reset";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif !important;
}

html {
  font-size: 10px;
}

html,
body {
  height: 100%;
  color: #fff;
}
body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: $color-buttons-contrast;
}
